#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Agenda
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kjbdgfilnfhdoflbpgamdcdgpehopbep
Icon=chrome-kjbdgfilnfhdoflbpgamdcdgpehopbep-Default
StartupWMClass=crx_kjbdgfilnfhdoflbpgamdcdgpehopbep
OnlyShowIn=Old;
