[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luizinho/Desktop/xfce-wm-settings.desktop]
row=3
col=0

[/home/luizinho/Desktop/manjaro-settings-manager.desktop]
row=4
col=0

[/home/luizinho/Desktop/xfce-settings-manager.desktop]
row=7
col=0

[/home/luizinho/Desktop/lightdm-gtk-greeter-settings.desktop]
row=5
col=0

[/home/luizinho/Desktop/xfce4-settings-editor.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/luizinho]
row=2
col=0

